<div class="generic-table" [class.generic-table--fill]="isFilling()">
  @if (showColumnToggle() && hideableColumns().length > 0) {
    <mat-chip-listbox
      class="generic-table__column-toggle"
      multiple
      aria-label="Toggle columns"
      (change)="onToggleColumns($event)"
    >
      @for (col of hideableColumns(); track col.key) {
        <mat-chip-option [value]="col.key" [selected]="isColumnVisible(col.key)">
          {{ col.header }}
        </mat-chip-option>
      }
    </mat-chip-listbox>
  }

  <div
    class="generic-table__scroll"
    [class.generic-table__scroll--fill]="isFilling()"
    [style.height]="height()"
    [style.max-height]="maxHeight()"
  >
    <table
      mat-table
      matSort
      [dataSource]="dataSource"
      [trackBy]="trackBy()"
      (matSortChange)="sortChange.emit($event)"
    >
      <colgroup>
        @for (key of displayedColumns(); track key) {
          @if (getColumnByKey(key); as col) {
            <col [ngStyle]="columnColStyles(col)" />
          }
        }
      </colgroup>

      @for (col of columns(); track col.key) {
        <ng-container [matColumnDef]="col.key">
          @if (col.sortable) {
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              [ngStyle]="columnWidthStyles(col)"
              [style.text-align]="col.align ?? 'left'"
            >
              {{ col.header }}
            </th>
          } @else {
            <th
              mat-header-cell
              *matHeaderCellDef
              class="generic-table__header--plain"
              [ngStyle]="columnWidthStyles(col)"
              [style.text-align]="col.align ?? 'left'"
            >
              {{ col.header }}
            </th>
          }
          <td
            mat-cell
            *matCellDef="let row"
            [ngStyle]="columnWidthStyles(col)"
            [style.text-align]="col.align ?? 'left'"
          >
            @if (getCellTemplate(col.key); as template) {
              <div class="generic-table__cell-content">
                <ng-container
                  [ngTemplateOutlet]="template"
                  [ngTemplateOutletContext]="cellContext(row)"
                />
              </div>
            } @else {
              {{ formatCell(col, row) }}
            }
          </td>
        </ng-container>
      }

      <tr mat-header-row *matHeaderRowDef="displayedColumns(); sticky: true"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns()"
        [class.generic-table__row--clickable]="rowClickable()"
        [attr.role]="rowClickable() ? 'button' : null"
        [attr.tabindex]="rowClickable() ? 0 : null"
        (click)="onRowClick(row)"
        (keydown.enter)="onRowClick(row)"
      ></tr>

      <tr *matNoDataRow>
        <td class="generic-table__empty" [attr.colspan]="displayedColumns().length">
          {{ emptyMessage() }}
        </td>
      </tr>
    </table>
  </div>

  @if (paginated()) {
    <mat-paginator
      [pageSize]="pageSize()"
      [pageSizeOptions]="pageSizeOptions()"
      (page)="pageChange.emit($event)"
    />
  }
</div>
